.App {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    border-left: 1px solid #0d284b;
    border-right: 1px solid #0d284b;
}



.Filters {
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.Filters-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OfferList {
    flex: 1 1 auto;
}
.OfferList-loading-indicator {
    text-align: center;
}

.Offer-image {
    width: 100px;
}

.Offer-promo-code {
    font-weight: bold;
}

.Offer-promo-code .active {
    color: green;
}

.Offer-promo-code .inactive {
    color: red;
}

.Footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d284b;
    color: #fff;
    font-size: .8em;
    padding: 1em 2em;
    margin-top: 2em;
}